ul.social-network{
    list-style: none; /* Tira os icones do lado das listas*/
    padding:0;
}

ul.social-network li{
    display:inline; /*Deixa um do lado do outro*/
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}
.fa-facebook-square:hover{
    color: aqua;
}
.fa-instagram:hover{
    color: rgb(153, 16, 123);
}
.fa-linkedin-square:hover{
    color: rgb(52, 10, 204);
}